{% extends "layout.html" %}
{% block content %} 
  <body>
   <div class="main">
  	<h1>Predict House Price with Postal Code</h1>

       <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('predict_house_postal_code')}}"method="post">
      	<input type="text" name="postal_code" placeholder="postal_code" required="required" />
          <input type="int" name="number_of_rooms" placeholder="number_of_rooms" required="required" />
  		    <input type="int" name="house_area" placeholder="house_area in m2" required="required" />
          <input type="text" name="fully_equipped_kitchen" placeholder="fully_equipped_kitchen" required="required" />
          <input type="text" name="open_fire" placeholder="open_fire" required="required" />
          <input type="text" name="terrace" placeholder="terrace" required="required" />
          <input type="text" name="garden" placeholder="garden" required="required" />
          <input type="int" name="surface_of_the_land" placeholder="surface_of_the_land in m2" required="required" />
          <input type="int" name="number_of_facades" placeholder="number_of_facades" required="required" />
          <input type="text" name="swimming_pool" placeholder="swimming_pool" required="required" />
          <input type="text" name="state_of_the_building" placeholder="state_of_the_building" required="required" />
          <input type="int" name="construction_year" placeholder="construction_year" required="required" />
          <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
      </form>
   </div>
  </body>

<details>
  <summary>Features</summary>
<ol>
<li>postal_code (str): Postal code of city</li>
<br>
<li>number_of_rooms (int): The number of rooms of the property</li>
<br>
<li>house_area (int): The area (m2) of the house (floors)</li>
<br>
<li>fully_equipped_kitchen (str): If the house has a fully equipped kitchen or not</li>
<br>
<li>open_fire (str): If there's an open fire or not</li>
<br>
<li>terrace (str): If there's a terrace or not</li>
<br>
<li>garden (str): If there's a garden or not</li>
<br>
<li>surface_of_the_land (int): The area (m2) of the land</li>
<br>
<li>number_of_facadess (int): The number of facades (0 to 4)</li>
<br>
<li>swimming_pool (str): If there's a swimming pool or not</li>
<br>
<li>state_of_the_building (str): as new/good/just renovated/to renovated/unknown</li>
<br>
<li>construction_year (int): The property built's year</li>
<br>
</ol>
</details>

<details>
  <summary>Postal codes correspondence to Region/Province</summary>

<ul>
<li>1000–1299 :  Région de Bruxelles-Capitale</li>
<br>
<li>1300–1499 :  Province du Brabant wallon</li>
<br>
<li>1500–1999 :  Province du Brabant flamand (arrondissement de Hal-Vilvorde, sauf Overijse)</li>
<br>
<li>2000–2999 :  Province d'Anvers</li>
<br>
<li>3000–3499 :  Province du Brabant flamand (arrondissement de Louvain, plus Overijse)</li>
<br>
<li>3500–3999 :  Province de Limbourg</li>
<br>
<li>4000–4999 :  Province de Liège</li>
<br>
<li>5000–5999 :  Province de Namur</li>
<br>
<li>6000–6599 :  Province de Hainaut (1)</li>
<br>
<li>6600–6999 :  Province de Luxembourg</li>
<br>
<li>7000–7999 :  Province de Hainaut (2)</li>
<br>
<li>8000–8999 :  Province de Flandre-Occidentale</li>
<br>
<li>9000–9999 :  Province de Flandre-Orientale</li>
</ul> 
</details>

<details>
  <summary>Guidelines for inputs</summary>
<ol>
 postal_code            : number 
<br>
 number_of_rooms        : number
<br>
 house_area             : number
<br>
 fully_equipped_kitchen : yes/no
<br>
 open_fire              : yes/no
<br>
 terrace                : yes/no
<br>
 garden                 : yes/no
<br>
 surface_of_the_land    : number
<br>
 number_of_facades      : number
<br>
 swimming_pool          : yes/no
<br>
 state_of_the_building  : as new/good/just renovated/to renovate/unknown
<br>
 construction_year      : number
</ol>
</details>

<details>
  <summary>Example inputs</summary>
<ol>
postal_code            : 3271
<br>
 number_of_rooms        : 4
<br>
 house_area             : 226
<br>
 fully_equipped_kitchen : yes 
<br>
 open_fire              : no
<br>
 terrace                : yes 
<br>
 garden                 : yes 
<br>
 surface_of_the_land    : 398
<br>
 number_of_facades      : 3
<br>
 swimming_pool          : no
<br>
 state_of_the_building  : to renovate 
<br>
 construction_year      : 1930
</ol>
</details>

<img src="https://user-images.githubusercontent.com/69633814/99885157-40613a00-2c33-11eb-8157-95cde0e33651.png" alt="House" width="700px">

{% endblock content %}


